# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.env

# Virtual environment
venv/
.venv/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/
